{% extends 'layout.html' %}

{% block title %}
    <title>Contact Joy</title>
{% endblock %}

{% block mainContent %}
    <div class="home-background"></div>
    
    <main class="pages-main">
        <div class="contact-content-box">
            <div class="image-side">
                <img class="photo" src="/static/assets/joy2.png" alt="Joy's wants to talk"/>
            </div>

            <div class="content-side">
                <div class="internal-box">
                    <h1>
                        Give me your email and I'll contact you!
                    </h1>
                    <form onsubmit="greet(); return false;">
                        <input type="email" id="email" placeholder="example@example.com" required>
                        <input type="submit">
                    </form>
                    <div id="result">
                        Hello!
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../static/scripts.js"></script>
{% endblock %}