{% extends 'layout.html' %}

{% block title %}
    <title>Joy's pics</title>
{% endblock %}

{% block mainContent %}
    <main class="home-main">
        <div class="content-box">
            <h1>
                Some pics of me!
            </h1>

            {# {% for image in images %}
                <img class="photo" src="joy2.jpeg" alt="joy's picture 1"/>
            {% endfor %} #}

            <h1>Upload new image</h1>
            <form method="post" enctype="multipart/form-data">
                <input type="file" name="file">
                <input type="submit" value="Upload">
            </form>         
        </div>
    </main>
{% endblock %}