<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/styles.css">
        <title>Joy's Profile</title>
    </head>
    <body>
        <div class="container">
            <header>
                <nav>
                    <a href="/">Home</a>
                    <a href="/gallery">Gallery</a>
                    <a href="/gallery">Gallery</a>
                    <a href="/contact">Contact</a>
                </nav>
            </header>
            <main class="home-main">

            </main>
        </div>
    </body>
</html>