{% extends 'layout.html' %}

{% block mainContent %}
    <main class="home-main">
        <div class="content-box">
            <h1>
                JOY's Profile
            </h1>
            <h2 class="h2">
                Hello, world!
            </h2>
            <p class="p">
                My name is JOY, I'm a female Shih Tzu whose purpose in life is to bring joy to people!
            </p>
            <p class="p" id="pesp">
                I'm a companion dog who loves to stay close to people to receive caress and for them to play with me. I have this toy called Perry that I looove to bite!
            </p>
        </div>
    </main>
{% endblock %}