{% extends 'layout.html' %}

{% block mainContent %}
    <div class="home-background"></div>

    <main class="home-main"> 
        <div class="content-box">
            <h1>
                Hello, world!
            </h1>
            <p>
            <br/>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;My name is Joy, I'm a female Shih Tzu whose purpose in life is to bring joy to people!
            </p>
            <br/>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I'm a companion dog who loves staying close to people for receiving care and attention. Come and see me in the gallery!
            </p>
        </div>
    </main>
{% endblock %}