<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/styles.css">
        {% block title %}
            <title>Joy's Profile</title>
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <header>
                <nav>
                    <a href="/">Home</a>
                    <a href="/gallery">Gallery</a>
                    <a href="/about">About Shih Tzus</a>
                    <a href="/contact">Contact</a>
                </nav>
            </header>

            {% block mainContent %}
            {% endblock %}
        </div>
    </body>
</html>